<span class="mention mention--editor" sgid="<%= user.attachable_sgid %>">
  <span class="mention__chip">
    <span class="mention__avatar" aria-hidden="true">
      <%= user_avatar_img_tag user, class: "mention__avatar-img" %>
    </span>
    <span class="mention__name">@<%= user.name %></span>
  </span>
</span>
